<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="./calculate" method="post">
    {% csrf_token %}
    <h2>Enter Your data Here:</h2>
    Enter 1st no:<input type="text" name="t1"><br><br>
    Enter 2nd no:<input type="text" name="t2"><br><br>
    <input type="submit" value="add" name="op">
    <input type="submit" value="sub" name="op">
    <input type="submit" value="mul" name="op">
    <input type="submit" value="div" name="op">
</form>

</body>
</html>